* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS", cursive sans-serif;
    background-color: #eeeeee;
    color: #111111;
}

h1 {
    text-align: center;
    margin: 1.25rem 0 0.25rem 0;
}

/*documentation advised that the position be relative*/
.chart-container {
    position: relative;
    width: 45vw;
    height:22.5vw;
    margin: auto;
}

